@model ApiRestCliente.Models.ListaDatos
@{ ViewData["Title"] = "Index"; }

<center>
    <h1>Catalogo de productos</h1>
</center>
<br />
<a asp-controller="Producto" asp-action="Categoria">Agregar producto</a>

