
.contenedor{
    padding: 20px 20px 20px 30px;
}

.info{
    padding: 20px 20px 5px 20px;
    background-color: paleturquoise;
    border-radius: 20px 20px 20px 20px;
}
.contenedor .descripcion{
    border-radius: 0.25rem;
    padding: .375rem .75rem;
    width: 100%;
    color: #495057;
    border: 1px solid #ced4da;
}