@model ApiRestCliente.Models.Usuario

@{
    ViewData["Title"] = "CrearUsuario";
}

<h1>Registro</h1>

<div class="row">
    <div class="col-md-4">
        <section>
            <form id="registro" method="post" novalidate="novalidate">
                <h5>Ingrese sus datos a continuación</h5>
            </form>
        </section>
    </div>
</div>
