@model ApiRestCliente.Models.ListaDatos

@{ ViewData["Title"] = "CrearUsuario"; }

<h1>Registro</h1>

<form id="registro" method="post" novalidate="novalidate">
    <div class="row">
        <div class="col-md-5">
            <section>
                <h5>Ingrese sus datos personales a continuación</h5>
                <div class="form-group">
                    <label asp-for="Usuario.PrimerNombre"></label>
                    <input asp-for="Usuario.PrimerNombre" class="form-control" />
                    <span asp-validation-for="Usuario.PrimerNombre" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Usuario.SegundoNombre"></label>
                    <input asp-for="Usuario.SegundoNombre" class="form-control" />
                    <span asp-validation-for="Usuario.SegundoNombre" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Usuario.PrimerApellido"></label>
                    <input asp-for="Usuario.PrimerApellido" class="form-control" />
                    <span asp-validation-for="Usuario.PrimerApellido" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Usuario.SegundoApellido"></label>
                    <input asp-for="Usuario.SegundoApellido" class="form-control" />
                    <span asp-validation-for="Usuario.SegundoApellido" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Usuario.FechaNacimiento"></label>
                    <input asp-for="Usuario.FechaNacimiento" class="form-control" type="date" />
                    <span asp-validation-for="Usuario.FechaNacimiento" class="text-danger"></span>
                </div>
            </section>
        </div>
        <div class="col-md-5">
            <section>
                <h5>Ingrese sus datos de acceso a continuación:</h5>
                <div class="form-group">
                    <label asp-for="Usuario.Correo"></label>
                    <input asp-for="Usuario.Correo" class="form-control" />
                    <span asp-validation-for="Usuario.Correo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Usuario.Contrasena"></label>
                    <input asp-for="Usuario.Contrasena" class="form-control" type="password" />
                    <span asp-validation-for="Usuario.Contrasena" class="text-danger"></span>
                </div>
                <div>
                    <button id="registro-submit" type="submit" class="btn btn-primary">Registrar</button>
                </div>
            </section>
        </div>
    </div>
</form>