@model ApiRestCliente.Models.ListaDatos

@{ ViewData["Title"] = "DatosPersonales"; }
<center>
    <h1>Datos personales</h1>
</center>
<form id="CambioDatosPersonales" method="post" novalidate="novalidate">
        <div class="col-md-5">
            <section>
                <br />
                <h5>Nombres</h5>
                <hr />
                <div class="form-group">
                    <label asp-for="Usuario.PrimerNombre"></label>
                    <input name="PrimerNombre" class="form-control" />
                    <span asp-validation-for="Usuario.PrimerNombre" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Usuario.SegundoNombre"></label>
                    <input name="SegundoNombre" class="form-control"/>
                    <span asp-validation-for="Usuario.SegundoNombre" class="text-danger"></span>
                </div>
                <br />
                <h5>Apellidos</h5>
                <hr />
                <div class="form-group">
                    <label asp-for="Usuario.PrimerApellido"></label>
                    <input name="PrimerApellido" class="form-control" />
                    <span asp-validation-for="Usuario.PrimerApellido" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Usuario.SegundoApellido"></label>
                    <input name="SegundoApellido" class="form-control" />
                    <span asp-validation-for="Usuario.SegundoApellido" class="text-danger"></span>
                </div>
                <br />
                <h5>Información de nacimiento</h5>
                <hr />
                <div class="form-group">
                    <label asp-for="Usuario.FechaNacimiento"></label>
                    <input value="@Html.DisplayFor(model => Model.Usuario.FechaNacimiento)" class="form-control" readonly />
                </div>
                <br />
                <div>
                    <button id="modificacion-submit" type="submit" class="btn btn-primary">Modificar</button>
                </div>
            </section>
        </div>
        <div class="col-md-5">
        <section>
            <!--Espacio para añadirle elementos a la derecha de la pagina-->
        </section>
    </div>
</form>