@model ApiRestCliente.Models.MUsuarios.Usuario

@{ 
    ViewData["Title"] = "Index";
}

<h1>Ingreso</h1>

<div class="row">
    <div class="col-md-4">
        <section>
            <form asp-action="Index">
                <h5>Ingrese sus datos a continuación</h5>
                <div class="form-group">
                    <label asp-for="Correo"></label>
                    <input asp-for="Correo" class="form-control" />
                    <span asp-validation-for="Correo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Contrasena"></label>
                    <input asp-for="Contrasena" class="form-control" type="password" />
                    <span asp-validation-for="Contrasena" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Registrar" class="btn btn-primary" />
                </div>
            </form>
            <div class="form-group">
                <p>
                    <a>Recordar contraseña</a>
                </p>
                <p>
                    <a asp-action="CrearUsuario">Registrar un usuario nuevo</a>
                </p>
            </div>
        </section>
    </div>
    <div class="col-md-6 col-md-offset-2">
        <section>
            <h4>Información extra.</h4>
            <hr>
            <div>
                <p>
                    Este sitio y toda la información almacenada dentro de el, sera usada con fines didácticos.
                </p>
            </div>
        </section>
    </div>
</div>